body {
    background-image: url(https://mediaproxy.salon.com/width/1200/https://media.salon.com/2022/06/gettyimages-1316586161-1.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-size: inherit;
}