body {
        background: url(https://m.media-amazon.com/images/I/61emwBJkFbL._AC_SL1500_.jpg) no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
      }

  
h1 {
  text-align: left;
  font-size: 60px;
  font-weight: 600;
  font-family: 'Niconne', cursive;
  color: #e0d6e9;
  text-shadow: 2px 2px 0px  #957dad,
               4px 4px 0px #ee4b2b;
}

#blender {
position: absolute;
width: 25%;
height: 45%;
bottom: 20px;
right: 200px;
}

