body {
        background: url(https://m.media-amazon.com/images/I/61emwBJkFbL._AC_SL1500_.jpg) no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
      }
      